<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>New Blog</title>

    <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 3%;">
        <form action="/blogs/essay" method="post">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="title" autofocus="autofocus"/>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" style="resize: none;" name="foreword" placeholder="foreword"></textarea>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="form-group">
                        <textarea class="form-control" rows="30" style="resize: none;" name="content" placeholder="content"></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p>
                        <button type="submmit" class="btn btn-lg btn-primary">submit</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>