<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{../css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{../css/blog.css}" rel="stylesheet"/>
    <link th:href="@{../css/theme.css}" rel="stylesheet"/>

    <style>
    </style>

</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" th:href="@{/}">Home</a>
            <a class="blog-nav-item" th:href="@{/blogs}">Blogs</a>
        </nav>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title" th:text="${blog.title}">Sample blog post</h2>
                <p class="blog-post-meta" th:text="${blog.createTime}">January 1, 2014</p>

                <p th:utext="${blog.foreword}" class="text-primary" style="font-size: 14px;">this is the blog's
                    foreword</p>
                <hr/>
                <p th:utext="${blog.content}" class="lead">this is the blog's content.</p>
            </div>

            <nav>
                <ul class="pager">
                    <li th:if="${previous}" class="previous"><a href="#" th:href="@{/blogs/blog(id=${previous})}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li th:if="${next}" class="next"><a href="#" th:href="@{/blogs/blog(id=${next})}">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            <hr class="featurette-divider"/>

            <div class="row">
                <div class="col-sm-12" th:each="c,iterStat:${commentList}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${c.name} +' - '+ ${c.createTime}">Panel title</h3>
                        </div>
                        <div class="panel-body" th:utext="${c.comments}">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>本想着字体一行行缩小的，结果好像不能起作用</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div id="newComment">
                <form action="/blogs/newComment" method="post">
                    <input type="hidden" name="id" th:value="${blog.id}"/>
                    <div class="" style="margin-top:10px;">
                        <div class="input-group" style="margin-bottom: 2%;">
                            <span class="input-group-addon">Name</span>
                            <input type="text" class="form-control"
                                   aria-describedby="basic-addon1" name="name"/>
                        </div>
                        <textarea type="text" class="form-control" rows="5" placeholder="Just Say sth. Necessary"
                                  aria-describedby="basic-addon1" name="comment"></textarea>
                    </div>
                    <p class="text-center" style="margin-top:10px;clear: both;">
                        <button type="submit" class="btn btn-lg btn-primary">COMMENT</button>
                    </p>
                </form>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<script th:src="@{../js/jquery-3.2.1.js}"></script>
<script th:src="@{../js/bootstrap.js}"></script>
<script>
</script>
</body>
</html>
