<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Diary</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{css/theme.css}" rel="stylesheet"/>

    <style>
        .t {
            width: 66px;
            position: fixed;
            bottom: 40px;
            right: 12.5%;
            font-size: 0;
            line-height: 0;
            z-index: 100;
        }

        .forLi {
            /*margin:inherit;*/
        }

        .margin5{
            margin:7px;
        }
    </style>
</head>

<body>
<div class="container theme-showcase">
    <div class="jumbotron" style="margin-top:5%;">
        <h1>MUST TO BE DONE</h1>
        <p>Wait till have some proper words...</p>
    </div>

    <hr class="featurette-divider"/>
    <div class="row">
        <div class="col-sm-10" th:each="d,iterStat:${diaries}">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${d.createTime}">the creation time</h3>
                </div>
                <div class="panel-body" th:utext="${d.item}">the content</div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider"/>
</div>

<div class="container">
    <footer>
        <p>
            <a href="main2.html" th:href="@{/}">Back to Home</a>
        </p>
    </footer>
</div>

<div class="t" th:if="${login}">
    <a href="javascript:void(0);">
        <img id="newDiary" th:src="@{img/twitter.png}" alt="Generic placeholder image" width="75" height="75"/>
    </a>
</div>

<div style="display:none" id="addDiary">
    <div class="container" style="width:380px;">
        <form action="/diary/items" method="post">
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-12" style="margin-right:10px;">
                    <label for="">plan to do:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <span id="adding" class="btn btn-sm btn-info pull-right col-sm-3">add item</span>
                </div>
                <div class="input-group col-sm-12 margin5">
                    <span class="input-group-addon" id="basic-addon1">1</span>
                    <input type="text" class="form-control" placeholder="item" aria-describedby="basic-addon1"
                           name="item1"/>
                </div>
                <div class="input-group col-sm-12 margin5">
                    <span class="input-group-addon" id="basic-addon2">2</span>
                    <input type="text" class="form-control" placeholder="item" aria-describedby="basic-addon1"
                           name="item2"/>
                </div>
                <div class="input-group col-sm-12 margin5">
                    <span class="input-group-addon" id="basic-addon3">3</span>
                    <input type="text" class="form-control" placeholder="item" aria-describedby="basic-addon1"
                           name="item3"/>
                </div>
            </div>
            <p class="text-center" style="margin-top:10px;clear: both;">
                <button type="submit" class="btn btn-lg btn-primary">Upload</button>
            </p>
        </form>
    </div>
</div>


<script th:src="@{js/jquery-3.2.1.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script th:src="@{js/holder.min.js}"></script>
<script th:src="@{js/layer/layer.js}"></script>
<script>
    var index = 3;
    $().ready(function () {
        $("#newDiary").bind('click', function () {
            layer.open({
                type: 1,
                title: 'To-Do-List',
                skin: 'layui-layer-rim',
                area: ['450px', '400px'],
                content: $("#addDiary")
            });
        });

        var currentPage = $("#currentPage").val();
        var objs = $(".forLi");
        $.each(objs, function (i) {
            if (i == currentPage) {
                $(this).addClass("active");
                return;
            }
        });
    });

    $("#adding").bind('click',function(){
        index++;
        var div = $('<div class="input-group col-sm-12 margin5"></div>');
        var itemSpan = $('<span class="input-group-addon" id="basic-addon' + index + '">' + index + '</span>');
        var itemInput = $('<input type="text" class="form-control" placeholder="item" aria-describedby="basic-addon1" name="item'+ index + '"/>');
        div.append(itemSpan);
        div.append(itemInput);
        var list = $(".col-sm-12");
        div.insertAfter(list[list.length - 1]);
    });
</script>
</body>

</html>