<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>template for all~</title>
		<link th:href="@{css/bootstrap.css}" rel="stylesheet" />
		<link th:href="@{css/demo.css}" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<div class="login">
				<div class="login-screen">
					<div class="login-icon">
						<img src="img/login/icon.png" alt="Welcome to Mail App" />
						<h4>Welcome to <small>Kevin's Blog</small></h4>
					</div>

					<form action="login" method="post">
						<div class="login-form">
							<div class="form-group">
								<input type="text" class="form-control login-field" placeholder="Username" id="login-usr" name="username"/>
								<label class="login-field-icon fui-user" for="login-name"></label>
							</div>

							<div class="form-group">
								<input type="password" class="form-control login-field" placeholder="Password" id="login-pwd" name="password"/>
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<a class="btn btn-primary btn-lg btn-block" href="#">Log in</a>
							<a class="login-link" href="#">Just a guester.</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script th:src="@{js/jquery-3.2.1.js}"></script>
	</body>

</html>