<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>login</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{css/flat-ui.css}" rel="stylesheet"/>
    <link th:href="@{css/demo.css}" rel="stylesheet"/>
</head>

<body>
<div class="container" style="margin-top:3%;">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon">
                <img th:src="@{img/headPic.jpg}" alt="Welcome to Mail App"/>
                <h4>Welcome to
                    <small>Kevin's Blog</small>
                </h4>
            </div>
            <input type="hidden" value="0" id="code" th:value="${errorCode}"/>

            <form action="index" method="post">
                <div class="login-form">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" placeholder="Username" id="login-usr"
                               name="username"/>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control login-field" placeholder="Password" id="login-pwd"
                               name="password"/>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Log in</button>
                    <a class="login-link" href="mainPage" th:href="@{/}">Just a guester.</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{js/jquery-3.2.1.js}"></script>
<script>
    $(document).ready(function(){
        var errorCode = $("#code").val();
        console.log(errorCode);
        if(errorCode == 1){
            alert("Please enter the USERNAME and PASSWORD");
        } else if(errorCode == 2){
            alert("can't match the USERNAME or PASSWORD");
        }
    });
</script>
</body>

</html>