<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Theme Template for Bootstrap</title>

    <link th:href="@{../css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{../css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{../theme.css}" rel="stylesheet"/>

    <style>
        .margin20 {
            margin-top: 20px;
            height:200px;
            text-align: center;
            overflow: hidden;
        }
        img{
            width:200px;
        }
    </style>
</head>

<body>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Thumbnails
        <button class="btn btn-default pull-right">upload picture</button>
        </h1>
    </div>
    <div class="row featurette">
        <div class="col-lg-3 margin20">
            <a th:href="@{../img/1.jpg}" target="_blank">
                <img th:src="@{../img/1.jpg}"/>
                <label>hello world!</label>
            </a>
        </div>
        <div class="col-lg-3 margin20">
            <a th:href="@{../img/height.jpg}" target="_blank">
                <img th:src="@{../img/height.jpg}" width="200px"/>
                <label>hello world!</label>
            </a>
        </div>
        <div class="col-lg-3 margin20">
            <a th:href="@{../img/square.jpg}" target="_blank">
                <img th:src="@{../img/square.jpg}" width="200px"/>
                <label>hello world!</label>
            </a>
        </div>
        <div class="col-lg-3 margin20">
            <a th:href="@{../img/1s.jpg}" target="_blank">
                <img th:src="@{../img/width.jpg}" width="200px"/>
                <label>hello world!</label>
            </a>
        </div>
        <div class="col-lg-3 margin20">
            <a th:href="@{../img/1s.jpg}" target="_blank">
                <img th:src="@{../img/1s.jpg}" width="200px"/>
                <label>hello world!</label>
            </a>
        </div>
        <div class="col-lg-3 margin20">
            <a th:href="@{../img/1s.jpg}" target="_blank">
                <img th:src="@{../img/1s.jpg}" width="200px"/>
                <label>hello world!</label>
            </a>
        </div>

    </div>
</div>

<script th:src="@{../js/jquery-3.2.1.js}"></script>
<script th:src="@{../js/bootstrap.js}"></script>
</body>
</html>
