<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Twitters</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{css/theme.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap-datepicker.css}" rel="stylesheet"/>

    <style>
        .t {
            width: 66px;
            position: fixed;
            bottom: 40px;
            right: 12.5%;
            font-size: 0;
            line-height: 0;
            z-index: 100;
        }

        .forLi {
            /*margin:inherit;*/
        }
    </style>
</head>

<body>
<div class="container theme-showcase">
    <div class="jumbotron" style="margin-top:5%;">
        <h1>This is the my Twitters</h1>
        <p>Future Google!</p>
    </div>

    <form class="form-inline" method="get" action="/twitters">
        <div class="form-group">
            <label for="inputFromDate">fromDate:</label>
            <input name="fromDate" type="text" class="form-control" id="inputFromDate" placeholder="from date" readonly="readonly" />
        </div>
        <div class="form-group">
            <label for="inputToDate">toDate:</label>
            <input name="toDate" type="text" class="form-control" id="inputToDate" placeholder="to date" readonly="readonly"/>
        </div>
        <div class="form-group">
            &nbsp;&nbsp;&nbsp;
            <label for="inputKeyValue">keyValue:</label>
            <input name="value" type="text" class="form-control" id="inputKeyValue" placeholder="key value" />
        </div>
        <button type="submit" class="btn btn-default">filter</button>
    </form>

    <div class="page-header">
        <h1>real-time moods</h1>
    </div>
    <div class="row">
        <div class="col-sm-10" th:each="t,iterStat:${twitters}">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${t.createTime}">the creation time</h3>
                </div>
                <div class="panel-body" th:utext="${t.twitter}">the content</div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <input type="hidden" value="currentPage" id="currentPage" th:value="${currentPage}"/>
        <ul class="pagination pagination-lg">
            <li>
                <a th:href="@{twitters(page=${previous})}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="p,iterStat:${pages}" class="forLi">
                <a href="toPage" th:href="@{twitters(page=${p})}" th:text="${p}">page number</a></li>
            <li>
                <a href="#" th:href="@{twitters(page=${next})}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <hr class="featurette-divider"/>
</div>

<div class="container">
    <footer>
        <p>
            <a href="main2.html" th:href="@{/}">Back to Home</a>
        </p>
    </footer>
</div>

<div class="t" th:if="${login}">
    <a href="javascript:void(0);">
        <img id="newTwitter" th:src="@{img/twitter.png}" alt="Generic placeholder image" width="75" height="75"/>
    </a>
</div>

<div style="display:none" id="addTwitters">
    <div class="container" style="width:380px;">
        <form action="/twitters/newTwitter" method="post">
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-6" style="margin-right:10px;">
                    <label for="twitter">what's up now:</label>
                </div>
                <div class="col-sm-12">
                    <textarea id="twitter" rows="5" class="form-control" name="twitter"></textarea>
                </div>
            </div>
            <p class="text-center" style="margin-top:10px;clear: both;">
                <button type="submit" class="btn btn-lg btn-primary">New</button>
            </p>
        </form>
    </div>
</div>


<script th:src="@{js/jquery-3.2.1.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script th:src="@{js/holder.min.js}"></script>
<script th:src="@{js/layer/layer.js}"></script>
<script th:src="@{js/bootstrap-datepicker.js}"></script>
<script th:src="@{js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script>
    $().ready(function () {
        var h = $(window).height();
        var line = h / 100;
        var w = $(window).width();
        console.log(h + "_" + w);
        $("#newTwitter").bind('click', function () {
            layer.open({
                type: 1,
                title: 'New Twitter',
                skin: 'layui-layer-rim',
                area: ['420px', '275px'],
                content: $("#addTwitters")
            });
        });

        var currentPage = $("#currentPage").val();
        var objs = $(".forLi");
        $.each(objs, function (i) {
            if (i == currentPage) {
                $(this).addClass("active");
                return;
            }
        });
    });

    $('#inputFromDate').datepicker({
        "autoclose":true,
        "format":"yyyy-mm-dd",
        "endDate":new Date()
    });

    $('#inputToDate').datepicker({
        "autoclose":true,
        "format":"yyyy-mm-dd",
        "endDate":new Date()
    });
</script>
</body>

</html>